* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #e6e6e6;
  --text-color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ダークモードの値 */
    --bg-color: #1a1a1a;
    --text-color: #e6e6e6;
  }
}

:root {
  color-scheme: light dark;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav button {
  font-size: 0.7rem;
  padding: 5px 10px;
}

main {
  margin: 20px 0;
}

.loading {
  text-align: center;
}

h1 {
  text-align: center;
}

button:not([disabled]) {
  cursor: pointer;
}

.volume-control-wrapper {
  width: fit-content;
  margin: 20px auto;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.level-control-wrapper {
  width: fit-content;
  margin: 20px auto;
}

.level-select {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Home */
.home-container button {
  padding: 10px;
}

.home-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-results table {
  border-collapse: collapse;
  width: 100%;
}

.home-results table th,
.home-results table td {
  padding: 8px;
  border-bottom: 1px solid var(--text-color);
}

.center-text {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  flex-wrap: wrap;
}

.show-or-hide {
  cursor: pointer;
}

/* WordQuizContent */
.quiz-container {
  margin: 20px 0;
  text-align: center;
}

.quiz-container button {
  padding: 10px;
}

.quiz-container h2 {
  font-size: 3rem;
}

.quiz-content {
  display: flex;
}

.quiz-choices input[type='radio'] {
  padding: 10px;
  margin-right: 8px;
  cursor: pointer;
}

.quiz-choices label {
  cursor: pointer;
}

.quiz-content > div:first-child {
  width: 40%;
  text-align: left;
  line-height: 2;
}

.quiz-result {
  line-height: 2;
}

.quiz-stats {
  line-height: 2;
  margin-bottom: 20px;
}

.quiz-content > div:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TypingContent */
.typing-container {
  margin: 20px 0;
  text-align: center;
}

.typing-container button {
  padding: 10px;
}

.typing-content {
  width: 100%;
  height: 200px;
  background-color: brown;
}

/* Storage */
.storage-container {
  margin: 20px 0;
  text-align: center;
}

.storage-container p {
  margin: 20px 0;
}

.storage-container button {
  padding: 10px;
}

.storage-button-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.hidden-input {
  display: none;
}

.custom-file-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}

/* Highlight */
.highlight {
  animation: highlight-animation 0.5s ease-out; /* アニメーションの時間を調整 */
}

@keyframes highlight-animation {
  0% {
    background-color: yellow; /* 開始時の色 */
  }
  100% {
    background-color: transparent; /* 終了時の色（元の色に戻す） */
  }
}
